{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1"
        },
        "corejs": 2,
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
  // 开发的是组件库，工具库，polyfill是注入到全局对象，污染全局对象，可以用plugin-transform-runtime代替,它是闭包方式
  // "plugins": [
  //   [
  //     "@babel/plugin-transform-runtime",
  //     {
  //       "absoluteRuntime": false,
  //       "corejs": false,
  //       "helpers": true,
  //       "regenerator": true,
  //       "useESMoules": false
  //     }
  //   ]
  // ]
}